{% include base_path %}
{% include base_path_zh %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!-- <li class="masthead__menu-item masthead__menu-item--lg"><a href="https://jl-tong.github.io/zh">{{ site.title_zh }}</a></li> -->
          <!-- <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/zh">{{ site.title_zh }}</a></li> -->
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path_zh }}">{{ site.title_zh }}</a></li>
          {% for link in site.data.navigation_zh.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path_zh %}
            {% endif %}
            <li class="masthead__menu-item"><a href="https://jl-tong.github.io/zh{{ link.url }}">{{ link.title }}</a></li>
            <!-- <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li> -->
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
